/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');

/* Global Reset */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(rgba(248, 227, 207, 0.8), rgba(246, 204, 204, 0.793)), url('assets/images/Theme-bg.jpeg');
  background-size: cover;
   color: #7a1f2b;
  line-height:1.6;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}

section{
  padding:80px 10%;
}

h1,h2,h3{
  font-family: "Playfair Display", serif;
}


/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:white;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
  position:sticky;
  top:0;
  z-index:100;
}

.logo{
  font-size:30px;
  font-family:"Great Vibes", cursive;
  color:#7a1f2b;
}

.logo-section{
  display:flex;
  flex-direction:column;
}

.tagline{
  font-size:12px;
  color:#777;
}

.Gold_Line{
  width:120px;
}


/* HERO SECTION */

.hero{
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:
  linear-gradient(rgba(122,31,43,0.4),rgba(122,31,43,0.3)),
  url("assets/images/hero-bg.jpg");
  background-size:cover;
  background-position:center;
   color: #7a1f2b;
}

.hero-content{
  max-width:700px;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  font-size:18px;
  margin-bottom:30px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

.btn{
  padding:12px 28px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-size:16px;
}

.primary{
  background: linear-gradient(0deg,rgba(122, 31, 43, 1) 0%, rgba(84, 12, 20, 1) 100%);
  color:#d3c1ab;
}

.secondary{
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
}

.primary:hover{
background:linear-gradient(0deg,rgba(122, 31, 43, 1) 0%, rgba(84, 12, 20, 1) 100%);
}


/* CATEGORIES */

.categories{
  text-align:center;
}

.categories h2{
  font-size:32px;
  margin-bottom:10px;
}

.section-subtitle{
  color:#666;
  max-width:600px;
  margin:auto;
  margin-bottom:40px;
}

.category-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:30px;
}

.category-card{
  background: linear-gradient(0deg,rgba(255, 246, 235, 0.803) 0%, rgba(240, 223, 223, 0.71) 100%);
  color: #7a1f2b;
  padding: 10px;
  border-radius:15px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.3s;
  cursor:pointer;
}

.category-card:hover{
  transform:translateY(-8px);
}

.category-card img{
  margin-bottom:15px;
  border-radius:5px;
}

.category-card h3{
  font-size:18px;
}


/* FEATURES */
.Context_Container{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:60px;
  flex-wrap:wrap;
}

.feature-image{
  flex:1;
}

.feature-content{
  flex:1;
}

.feature-content h2{
  font-size:30px;
  margin-bottom:20px;
}

.feature-tags{
  display:flex;
  gap:15px;
  margin:20px 0;
  flex-wrap:wrap;
}

.feature-tags span{
  background:#ffe8e8;
  padding:8px 15px;
  border-radius:20px;
  font-size:14px;
}

.Mobile_Img img{
width:400px;
border-radius:20px;
}



/* THEMES */

.themes{
  text-align:center;
}

.theme-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
  margin-top:40px;
}

.theme-card{
  background:white;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.3s;
}

.theme-card:hover{
  transform:translateY(-10px);
}

.theme-card img{
  width:100%;
}

.theme-card h3{
  padding:15px;
}


/* FOOTER */
.Footer{
  background:#111;
  color:white;
  padding:60px 10%;
  background: linear-gradient(rgba(120, 41, 41, 0), rgba(99, 15, 15, 0.564)), url('assets/images/Footer-bg.png');
  background-size: cover;
}

.Footer-row{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:40px;
}

.Footer h2{
  font-size:20px;
  margin-bottom:10px;
  color:#ffcc70;
}

.Footer p{
  line-height:1.6;
  color:#ccc;
}

.Footer ul{
  list-style:none;
}

.Footer ul li{
  margin-bottom:8px;
  cursor:pointer;
  color:#ccc;
  transition:0.3s;
}

.Footer ul li:hover{
  color:#ffcc70;
}

.icons{
  display:flex;
  gap:15px;
}

.icons img{
  width:35px;
  cursor:pointer;
  transition:0.3s;
}

.icons img:hover{
  transform:scale(1.2);
}

.footer-bottom{
  text-align:center;
  margin-top:40px;
  border-top:1px solid #333;
  padding-top:20px;
  font-size:14px;
  color:#aaa;
}


/* TABLET */

@media(max-width:1024px){

.hero h1{
  font-size:38px;
}

.feature-container{
  flex-direction:column;
}

}


/* MOBILE */

@media(max-width:768px){
  .navbar{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  font-size:30px;
  font-family:"Great Vibes", cursive;
  color:#7a1f2b;
  text-align: center;
}

.logo-section{
  display:flex;
  flex-direction:column;
}

.tagline{
  font-size:12px;
  color:#777;
}
.nav-links{
  display: flex;
  font-size: 10px;
  text-decoration: none;
}



.hero{
  height:auto;
  padding:100px 20px;
}

.hero h1{
  font-size:28px;
}

.hero p{
  font-size:15px;
}

.hero-buttons{
  flex-direction:column;
}

.btn{
  width:100%;
}

section{
  padding:60px 20px;
}
.context_details{
  padding: 20px;
}

}


/* SMALL MOBILE */

@media(max-width:480px){

.hero h1{
  font-size:24px;
}

.categories h2,
.themes h2{
  font-size:24px;
}

}