/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@400;700&family=Zalando+Sans+Expanded:wght@300;600&display=swap');
*{
   
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #7a1f2b;
}




.home {
  font-weight: 400;
  font-style: normal;
  background-color: #e58f8f;
  color: #5a2a2a;
}
/* Nav Bar */
.navbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #7a1f2b;
}
.logo {
  margin-top: 0px;
  font-size: 30px;
  background: radial-gradient(circle,rgba(13, 183, 186, 1) 0%, rgba(138, 94, 0, 1) 100%);
                  -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
.Gold_Line{
  margin-top: -20px;
  height: 20px;
}
.text{
  color: #7a1f2b;
  font-size: 20px;
  font-weight: 100;
  font-style: inherit;
}
.nav-links{
  font-size: 20px;
  padding-right: 5%;
  font-weight: 200;
}


.hero {
  margin-top: -148px;
  background: linear-gradient(rgba(174, 46, 46, 0.252), rgba(235, 121, 121, 0)), url('assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 140px 20px;
  text-align: center;
  color: #7a1f2b;
}


.hero h1 {
  margin-top: 30px;
  font-size: 48px;
  margin-bottom: 0px;
} 


.hero p {
font-size: 18px;
font-weight: 100;

}


.hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 24px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-shadow:2px 1px 3.5px 2px #2d2300b1;
  width: 15%;
}


.primary {
  background: linear-gradient(0deg,rgba(122, 31, 43, 1) 0%, rgba(84, 12, 20, 1) 100%);
  color:#d3c1ab;
}


.secondary {
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
}

/* Categories */
.categories {
  padding:clamp(40px,8vw,80px) 20px;
  text-align:center;
  background:linear-gradient(rgba(177,58,58,.15),rgba(214,84,84,.4)),
  url('assets/images/CR_In_Theme.png') center/cover;
}
.categories h2{
  font-weight: 800px;
  font-size: 32px;
  font-weight: 626;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  margin-top: 50px;
  padding-left: 60px;
}

.category-card {
  padding:10px;
  border-radius:15px;
  background:linear-gradient(#ffdfba77,#eecece69);
  border:1px solid #7a1f2b;
}
.category-img  {
  width:100%;
  border-radius:12px;
}
.category-card h3{
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-deco{
  margin-top: 10px;
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;

}

/* Context_Container */
.Context_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(177, 58, 58, 0.155), rgba(214, 84, 84, 0.39)), url('assets/images/CR_In_Theme.png');
  background-size: cover;
  padding-left: 260px;
}
.Mobile_Img img {
  height: 800px;
}
.context_details{
  padding-left: 70px;
  font-size: 18px;
  color: #7a1f2b;
}



/* watch Samples */
.samples {
  height: 700px;
  margin-top: 0.1px;
  text-align: center;
  background: linear-gradient(rgba(131, 52, 52, 0), rgba(115, 3, 3, 0.299)), url('assets/images/samples.jpeg');
  background-size: cover;
  background-position: center;
  padding: 50px 140px;
  text-align: center;
  color:#7a1f2b;
}
.samples h2{
  font-size: 35px;
}


.phone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}
.phone-wrapper img{
  height: 500px;
  padding: 10px;
  border-radius: 20px;
}


.phone {
width: 260px;
height: 320px;
border-radius: 40px;
background: #000;
position: relative;
}


.play-btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 40px;
color: white;
}


/*  Features and sample cards */

.features-Phone{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features{
  margin-top: 30px;
}
.features h2{
  font-size: 30px;
}
.features h3{
  margin-top: 20px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 400;
}

.features span {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 18px;
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  border-radius: 10px;
  align-items: center;
}

/* QR Integrations */
.QR{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QR h2{
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.QR img{
  height: 180px;
  width: 180px;
}

/* Theme Card */

.themes {
  margin-top: 2px;
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(rgba(255, 248, 248, 0), rgba(118, 12, 12, 0.225)), url('assets/images/Theme-bg.jpeg');
  background-size: cover;
  background-position: center;
  padding: 80px 140px;
  text-align: center;
  color:#7a1f2b;
  padding-left: 240px;
}
.themes h2{
  font-weight: 700;
  font-size: 30px;
}
.themes h3{
  font-family: sans-serif;
  font-weight: 100;
}


.theme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.theme-img img{
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  border-radius: 25px;
  padding-top: 2px;
  padding: 10px 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}


.theme-img img {
  height: auto;
  max-height: 600px;
  width: 350px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-theme{
  margin-top: -50px;
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-shadow:2px 1px 3.5px 2px #2d2300b1;
  width: 70%;
  background: linear-gradient(0deg,rgba(122, 31, 43, 0.975) 0%, rgba(84, 12, 20, 0.904) 100%);
  color:#d3c1ab;
}


/* Footer */
.Footer-details{
  margin-top: 0.4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 50px;
  background: linear-gradient(rgba(120, 41, 41, 0), rgba(99, 15, 15, 0.564)), url('assets/images/Footer-bg.png');
  background-size: cover;
  background-position: center;
  color:rgba(236, 220, 197, 0.91);
  font-size: 20px;
}
.Footer-row{
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px 80px;
}
.footer {
  display: flex;
  align-items: center;
  gap: 300px;
  padding: 20px 80px;

  }
  /* Social Media */
  .Social-media{
    gap: 50px;
  }
  .icons{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .Social-media img{
    height: 35px;
    width: 35px;
  }

/* Samples Page */
.Inventory{
    background: linear-gradient(rgba(166, 45, 45, 0.252), rgba(235, 121, 121, 0)), url('assets/images/CR_In_Theme.png');
    background-size: cover;
    background-position: center;
    color:#7a1f2b;
    height: 500px;
  /* padding: 0px 30px 200px 30px; */
}
.Inventory-Details{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Inventory-Details h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
.Inventory-Details p{
  font-family: 'Courier New', Courier, monospace;
}
.Back-Button{
   padding: 20px;
}
.btn-Back{
  width: 40px;
  border-radius: 10px;
  background: linear-gradient(0deg,rgba(122, 31, 43, 1) 0%, rgba(84, 12, 20, 1) 100%);
  color:#d3c1ab;
  padding: 5px;
}

/* Inventory */
.Inventory-Products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  margin-top: 40px;
  padding: 50px 150px;
  align-items: center;
  width: 100%;
}
.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.Products img{
  height: auto;
  max-height: 500px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 15px;
  background: linear-gradient(0deg,rgba(255, 223, 186, 0.466) 0%, rgba(238, 206, 206, 0.411) 100%);
  color: #7a1f2b;
  box-shadow:2px 1px 3.5px 2px #2d230075;
}
.Products{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}
.Products h4{
  text-align: center;
  color:#7a1f2b;
  text-decoration: none;
  font-size: 16px;
}
.btn-order{
  padding: 5px 20px;
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  border-radius: 5px;
}

.collections{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  margin-top: 40px;
  padding: 50px 150px;
  align-items: center;
}


/* Create Invitation Page */
.Create_Invitation{
  text-align: center;
   margin-top: -138px;
    background: linear-gradient(rgba(166, 45, 45, 0.252), rgba(235, 121, 121, 0)), url('assets/images/CR_In_Theme.png');
    background-size: cover;
    background-position: center;
    padding: 140px 20px;
    text-align: center;
    color:#6b4c2f;
 
}
.Create_Invitation h2{
  margin-top: 30px;
  font-family: "Great Vibes", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
}
.Invitation_Details_filling{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Mess_text1{
  padding:2px 50px;
  border:none;
  border-radius:10px;
  font-size:18px;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(43, 154, 91, 1) 0%, rgba(29, 168, 87, 1) 100%, rgba(237, 221, 83, 1) 100%);
  color:white;
  cursor:pointer;
}
.Mess_text2{
  margin-top: 10px;
  padding:2px 50px;
  border:none;
  border-radius:10px;
  font-size:18px;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(43, 154, 91, 1) 0%, rgba(29, 168, 87, 1) 100%, rgba(237, 221, 83, 1) 100%);
  color:white;
  cursor:pointer;
}
.details_card{
  display: flex;
  flex-direction: column;
  max-width:900px;
  margin:40px auto;
  padding:30px;
  background: linear-gradient(0deg,rgba(255, 218, 172, 1) 0%, rgba(242, 228, 228, 1) 100%);
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  gap: 10px;
}
.details_card input{
  padding:14px;
  border-radius:10px;
  border:1px solid #ddd;
  font-size:15px;
}
.whatsapp-btn{
  margin-top:20px;
  width:100%;
  padding:14px;
  border:none;
  border-radius:30px;
  font-size:18px;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(43, 154, 91, 1) 0%, rgba(29, 168, 87, 1) 100%, rgba(237, 221, 83, 1) 100%);
  color:white;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.whatsapp-btn img{
  height: 30px;
  width: 30px;
}
.features-1{
  display:flex;
  justify-content:space-around;
  margin-top:30px;
  text-align:center;
}
.feature{ flex:1; }
.footer-1{
  text-align:center;
  margin-top:30px;
  color:#6b4c2f;
  font-size:18px;
}

/* Global Fix Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Fix desktop  */
.Inventory-Products,
.collections,
.category-grid,
.theme-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}


/*  Tablets , Ipads , Small Laptops */
@media (max-width: 1024px) {

  .hero {
    margin-top: -146px;
    padding: 120px 20px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .btn {
    width: 35%;
  }

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    justify-items: center;
  }
  .Context_Container{
    padding: 30px;
  }

  .Context_Container img{
    height: auto;
  }
  .context_details{
    font-size: 15px;
  }
  
  .samples{
    height: 1000px;
  }
  .QR h2{
    margin-top: 20px;
    padding-right: 150px;
  }
  .QR {
   padding-left: 150px;
   margin-bottom: -40px;
  }
  .QR img{
    padding-left: 20px;
  }

  .features-Phone {
    flex-direction: column;
    gap: 50px;
  }

  .theme-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .phone-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    width: 40px;
    padding-left: 80px;
}
.phone-wrapper video{
 height: 300px;
 border: 3px solid burlywood;
 padding: 10px;
 background-color: burlywood;
}

  .Inventory-Products,
  .collections {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .Footer-row,
  .footer {
    gap: 50px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

}


/* Mobile Phones */
@media (max-width: 768px) {

  .navbar {
    gap: 10px;
  }

  .logo {
    font-size: 28px;
  }

  .Gold_Line{
    margin-top: -40px;
  }

  .text {
    font-size: 13px;
  }
  .hero{
    margin-top: -165px;
    height: 480px;
  }

  .hero h1 {
    margin-top: 50px;
    font-size: 20px;
  }

  .hero p {
    font-size: 12px;
  }

  .btn {
    width: 80%;
    margin: 10px 0;
  }

  .categories,
  .samples,
  .themes {
    padding: 50px 40px;
  }

  .category-grid {
    grid-template-columns: 1fr;
    padding-left: 20px;
  }

  .category-card,
  .category-img {
    width: 100%;
  }

 .Context_Container{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .Context_Container img{
  height: auto;
 }
 .context_details{
  padding: 20px;
  font-size: 12px;
 }

 .Features{
  font-size: 12px;
 }

  .features{
    padding: 20px;
  }
  .features-Phone{
    margin-top: -30px;
    display: flex;
  }
  .features span {
    display: block;
    margin: 10px auto;
    width: fit-content;
  }

  .theme-grid {
    grid-template-columns: 1fr;
  }

  .theme-img img {
    width: 100%;
    height: auto;
  }

  .Inventory {
    height: auto;
    padding-bottom: 50px;
  }
  .Inventory h2{
    font-size: 20px;
  }
  .Inventory-Details p{
    padding: 20px;
    text-align: center;
  }

  .Inventory-Products {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .Products {
    height: auto;
    width: 100%;
  }

  .Products img {
    width: 100%;
    height: auto;
  }

  .phone-wrapper img{
    display: flex;
    height: 200px;
    width: 200px;
  }

.Footer{
  display: flex;
}

.Footer-details {
  font-size: 14px;
  padding: 0px;
  padding-right: 500px;
  }
  .categories-details{
    padding-right: 200px;
  }
  .Quick-links{
      padding-right: 180px;
  }
.footer{
  padding: 10px;
}

  .Social-media {
    padding-right: 100px;
  }

}




/* Small Phones */
@media (max-width: 480px) {

  .hero h1 {
    font-size: 24px;
  }

  .categories h2,
  .samples h2,
  .themes h2 {
    font-size: 22px;
  }

  .QR img {
    width: 120px;
    height: 120px;
  }

  .btn-theme {
    width: 90%;
  }
}


